<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Расписание поездов</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: auto;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <h1>Расписание поездов {{ trains[0].from.title }} - {{ trains[0].to.title }} на {{ trains[0].start_date }}</h1>
    <table>
        <tr>
            <th>Номер поезда</th>
            <th>Название поезда</th>
            <th>Тип поезда</th>
            <th>Время отправления</th>
            <th>Время прибытия</th>
            <th>Продолжительность поездки</th>
            <th>Цена билета</th>
        </tr>
        {% for train in trains %}
        <tr>
            <td>{{ train.thread.number }}</td>
            <td>{{ train.thread.title }}</td>
            <td>{{ train.thread.transport_subtype.title }}</td>
            <td>{{ train.departure[:16] }}</td>
            <td>{{ train.arrival[:16] }}</td>
            <td>{{ train.duration // 60 }} ч {{ train.duration % 60 }} мин</td>
            {% if train.tickets_info.places %}
            <td>{{ train.tickets_info.places[0].price }} руб</td>
            {% else %}
            <td>Нет свободных мест</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
